/* #00c9ff, #92fe9d */
.main-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 15px;
    padding-top: 80px;
}

.mainLeft{
    max-width: 500px;
}
.mainRight{
    max-width: 550px;
    padding-right: 24px;
    font-family: 'Noto Sans', sans-serif;
}
.mainRightTitle{
    margin: 0;
    letter-spacing: 2px;
    background: -webkit-linear-gradient(45deg,#00c9ff, #92fe9d
    );
    background-image: -webkit-linear-gradient(45deg, #00c9ff , #92fe9d
    );
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 85px;
    margin-bottom: 14px;
}
.mainRightSubTitle{
    margin-left: 14px;
    letter-spacing: 2px;
    font-style: italic;
    margin-bottom: 14px;
    font-weight: 600;
}
.mainRightBTN{
    cursor: pointer;
    display: block;
    margin : 0 auto;
    border : none;
    border-radius: 30px;
    font-weight: 700;
    font-style: italic;
    padding: 7px 14px;
    background: -webkit-linear-gradient(45deg,#00c9ff, #92fe9d
    );
    width: 175px;
    height: 45px;
}

@media (max-width : 1040px) {
    .mainLeft{
        width: 400px;
    }
    .mainRightTitle{
        font-size: 75px;
    }
    .mainRight{
        max-width: 450px;
    }
}

@media (max-width : 980px) {
    .main-block{
        gap: 10px;
    }
    .mainLeft img{
        max-width: 400px;
    }
    .mainRight{
        max-width: 450px;
    }
    .mainRightTitle{
        font-size: 65px;
    }
    .mainRightSubTitle{
        margin-left: 5px;
        letter-spacing: 1px;
        font-style: italic;
        margin-bottom: 14px;
        font-weight: 600;
    }
    .mainRightSubTitle{
        font-size: 15px;
    }
}

@media (max-width : 865px) {
    .mainRight{
        max-width: 400px;
    }
    .mainRightTitle{
        font-size: 55px;
    }
    .mainRightSubTitle{
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .main-block{
        gap : 5px;
    }
    .mainRight{
        max-width: 500px;
    }
    .mainLeft img{
        max-width: 300px;
    }
}

@media (max-width: 648px){
    .main-block{
        flex-direction: column;
        margin : 0 auto;
        padding-top: 20px;
    }
    .mainLeft img{
        padding-left: 65px;
        margin-bottom: 20px;
    }
    .mainRight{
        display: flex;
        text-align: center;
        flex-direction: column;
    }
}